[package]
name = "rmtui"
version = "0.1.0"
edition = "2024"

[dependencies]
askama = "0.14.0"
fontdue = "0.9.3"
html5ever = "0.36.1"
markup5ever = "0.36.1"
markup5ever_rcdom = "0.36.0"
taffy = "0.9.2"
tiny-skia = "0.12.0"
