[workspace]
members = ["skia_renderer"]

[package]
name = "rmtui"
version = "0.1.0"
edition = "2024"

[lib]
name = "rmtui"
path = "src/lib.rs"

[dependencies]
askama = "0.14.0"
html5ever = "0.36.1"
markup5ever = "0.36.1"
markup5ever_rcdom = "0.36.0"
taffy = "0.9.2"
winit = "0.29.15"
softbuffer = "0.4.1"
csscolorparser = "0.6.2"

[dev-dependencies]
tiny-skia = "0.12.0"
fontdue = "0.9.3"
skia_renderer = { path = "skia_renderer" }
